* {
  margin: 0;
  padding: 0;
}
  
html {
  font-family: 'Roboto', sans-serif;
}
  
body {
  height: 3100px; 
  display: flex;
	flex-direction: column;
  flex: auto;
  background-color: #E5E5E5FF;
}
  
.page__header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #3E505BE6;
  box-shadow: 0 0 10px #0D1B1E80;
}

.header__section {
  align-items: center;
}

.header__list {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.header__list-item {
  margin: 1vh;
}

.anchor {
  color: #E5E5E5FF;
  text-decoration: none;
}

.anchor:visited {
  color: #E5E5E5FF;
}

.header__logo {
  height: 32px;
  width: 32px;
}
.header__title {
  color: #E5E5E5FF;
}

.page__main {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.page__main-content {
  background-color: #6E7E8540;
  width: 80%;
  box-shadow: 0 0 10px #0D1B1E80;
}

.content__section {
  height: 750px;
  width: 100%;
  border: 1px solid red;
}

.section__header {
  width: 100%;
  height: 50px;
  border: 1px solid blue;
}

.about__header {
  display: none;
}

.page__footer {
  height: 50px;
  background-color: #3E505BE6;
  box-shadow: 0 0 10px #0D1B1E80;
}