* {
  margin: 0;
  padding: 0;
}
  
html {
  font-family: 'Roboto', sans-serif;
}
  
body {
  height: 2000px; 
  display: flex;
	flex-direction: column;
  flex: auto;
  background-color: #E5E5E5FF;
}
  
.page__header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #3E505BFF;
  color: #E5E5E5FF;
  box-shadow: 0 0 10px #0D1B1E80;
}

.header__section {
  align-items: center;
}

.header__list {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.header__list-item {
  margin: 1vh;
}

.link {
  text-decoration: none;
}

.link:visited {
  color: #E5E5E5FF;
}

.header__list-logo {
  height: 32px;
  width: 32px;
}

.page__main {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.page__main-content {
  background-color: #6E7E8540;
  width: 80%;
}



  
.page__footer {
  height: 50px;
  background-color: #3E505BFF;
  box-shadow: 0 0 10px #0D1B1E80;
}