* {
  margin: 0;
  padding: 0;
}
  
html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background: white;
}
  
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 0 auto 0;
}
  
header {
  border: 1px solid blue;
}
 
main {
  border: 1px solid red;
}
  
footer {
  border: 1px solid blue;
}
  